/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.input-field input:focus + label {
	color: #1565c0 !important;
}
.input-field input:focus {
	border-bottom: 1px solid #1565c0 !important;
	box-shadow: 0 1px 0 0 #1565c0 !important;
}
.input-field .prefix.active {
	color: #1565c0;
}